# GCP credentials
credentials/service_account.json
terraform/terraform.tfvars

# Local raw NOAA files
data/raw/

# Kestra local database
data/database.mv.db
data/database.trace.db

# Python cache
__pycache__/
*.pyc
